#section-carousel.section-carousel-main {
  position:relative;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  outline: none;
}
#section-carousel .carousel-sub-div{
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 450px;
}

#section-carousel .arrow{
  position:absolute;
  width:2rem;
  height: 2rem;
  color:#fff; 
  top:50%;
  background: transparent;
  color: #ffffff82;
  filter:drop-shadow(0 0 5px #555);
  cursor: pointer;
  z-index:100;
}
#section-carousel .leftArrow{
  left:1rem;
}
#section-carousel .rightArrow{
  right:1rem;
}

#section-carousel .image-div {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}


#section-carousel .not-visible-carousel {
  opacity: 0;
  transition: 1s;
}

#section-carousel .image{
  /* border-radius: 10px; */
  /* border:2px solid #eee; */
  width:100%;
  height: 450px;
  object-fit: fill;
} 

#section-carousel .indicator-btn-parent{
  position: absolute;
  bottom: 1rem;
  /* background-color: rgb(54, 101, 85); */
  z-index: 0;
  width:100%;
}

#section-carousel .indicators,.desc-bar{
  margin:auto;
}

#section-carousel .indicator{
  background-color: #fff;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100% ;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #555;
  margin:0 0.2rem;
  cursor: pointer;
}
#section-carousel .indicator-inactive{
  background-color: gray;
}
#section-carousel .desc-bar-parent{
  position: absolute;
  bottom: 2.5rem;
  background-color:transparent;
  width:100%;
  min-width:20px;
}
#section-carousel .carousel-description{
  max-width:60% !important;
  text-align: left;
  padding:6px 0px 6px 30px;
  background:rgba(0, 0, 0, 0.6);
  font-size:1.2rem;
  border-radius: 0 12px 12px 0;
  color:#fff;
  transition: 0.3s ease all;
}
#section-carousel .carousel-description.inactive{
  display: none;
  opacity: 0;
  transition: 1s;
}
@media  only screen and (min-device-width: 320px) and (max-device-width: 480px){
  #section-carouosel .carousel-description {
      max-width: 80%;
      font-size: 9px !important;
      
  }

}
 