#section-content-inner{

    background: #ececec;
    padding: 30px 0px;
}

#section-content-inner ul li{
    padding:8px 0;
    list-style-type:disc;
}

.pmni{
    padding: 0 !important;
    margin: 0 !important;
}
.nb-start-column{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.column-second{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.nb-start-column {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
#section-content-inner .inner-left{
    background: #fff;
    padding: 0px 0px 20px 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-width: 0 0 1px 0;
    border-color: rgba(37,47,63,0.08);
    border-style: solid;
    border-radius: 10px 10px 0px 0px !important;
    overflow: hidden;
    box-shadow: 0px 10px 20px 0px rgb(37 47 63 / 5%);
}

#section-content-inner .inner-left-top-nav-header{
    background: #6080f4;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
#section-content-inner .padder-mobile {
    padding: 0px 0px;
}

.column-notice-body{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#section-content-inner .inner-left .inner-left-body{
    padding: 0px 0px;
}

#section-content-inner .inner-left .inner-left-body .left-nav a::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #6080f4;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}
.content-start-column{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-start-column{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#section-content-inner .inner-right{
    /* box-shadow: 0px 2px 2px #f5f5f5; */
    background: #fff;
    padding: 0px 0px 50px 0px;
    margin-bottom: 10px;
    color: #333;
    border-width: 0 0 1px 0;
    border-color: rgba(37,47,63,0.08);
    border-style: solid;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 10px 20px 0px rgb(37 47 63 / 5%);
}

#section-content-inner .inner-right .inner-body{
    padding:20px 20px;
}

#section-content-inner .inner-right .inner-heading{
    padding: 10px 20px;
    border-bottom: 1px solid #f4f4f4;
}

#section-content-inner .content-start-column .inner-body .column-second  p{
    margin-top: 18px;
}
#section-content-inner .last-column ul li{
    margin-left:12px;
}

#section-content-inner .last-column ul li:first-child{
    margin-top:20px;
    margin-left:12px;
}
.last-column{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.last-column{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



@media (min-width: 576px){

    .content-start-column {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 99%;
    }
}

@media (min-width: 992px){

    .content-start-column{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

#section-content-inner .inner-left .inner-left-body .left-nav li a:hover {
    border-bottom:1px solid #6080f4;
    font-weight:600;
}

#section-content-inner .inner-left .inner-left-body .left-nav li a svg {
    margin-right: 14px;
}

@media (min-width: 992px){

    .column-second {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    #section-content-inner .padder-mobile {
        padding: 0px 5px;
        margin-left: 10px;
    }
}


@media (min-width: 576px){
    
    .nb-start-column {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px){
    .nb-start-column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

}
#section-content-inner .inner-left .inner-left-body .left-nav li a {
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    display: block;
    position: relative;
    transition: all 0.5s ease;
}

a,a:hover{
    transition: all 0.5s ease;
}